!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml",  "xml:lang" => "en",  :lang => "en"}
  %head
    %meta{ 'http-equiv' => "Content-type", :content => "text/html;charset=UTF-8" }
    %title
      blay
      = h page.title
      
    %meta{ :name => 'author', :content => 'Magnus (http://blay.se)' }
    %link{ :href => 'http://jekyll.blay.se/atom.xml', :rel => "alternate", :title => "blay.se", :type => "application/atom+xml" }


    %link{ :type => 'text/css', :rel => 'stylesheet', :href => '/css/site.css' }
    %link{ :rel => "shortcut icon", :type => "image/x-icon", :href => "/favicon.ico" }
    
    %script{ :src => '/js/flattr.js', :type => 'text/javascript' }    
    
  %body
    #everything
      .tagline
        <a href="/">blay:se</a> svartfax
    
      .content
        = content
    
      
    
