<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-type" />
    <title>
    {{ page.title }}
    </title>
    <meta content="Magnus (http://blay.se)" name="author" />
    <link href="/atom.xml" rel="alternate" title="blay.se" type="application/atom+xml" />
    <link href="/css/site.css" rel="stylesheet" type="text/css" title="site"/>
    <link href="/css/brooklyn_site.css" rel="alternate stylesheet" type="text/css" title="brooklyn"/>
    <link href="/css/blackwhite_site.css" rel="alternate stylesheet" type="text/css" title="blackwhite"/>
    <link href="/css/large_site.css" rel="alternate stylesheet" type="text/css" title="large"/>

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="/js/flattr.js" type="text/javascript"></script>
    <script type="text/javascript" src="/scripts/styleswitcher.js"></script>
  </head>
  <body>
    <div id="everything">
      <div class="tagline">
       blay.se :: <a href="/">blog</a>:<a href="/papers.html">papers</a>:<a href="http://www.twitter.com/monki">@monki</a>
    <div id="style">
    <a href="#" onclick="setActiveStyleSheet('site'); return false;"><img src="/img/site.png"></a>
    <a href="#" onclick="setActiveStyleSheet('brooklyn'); return false;"><img src="/img/brooklyn.png"></a>    
    <a href="#" onclick="setActiveStyleSheet('blackwhite'); return false;"><img src="/img/blackwhite.png"></a>    
    <a href="#" onclick="setActiveStyleSheet('large'); return false;"><img src="/img/blackwhite.png"></a>    
    </div>
</div>
      <div class="content">
  {{ content }}
      </div>
    </div>
  </body>
</html>

