---
layout: default
---
      <div class="entry-content">
        <h2>{{ page.title }}</h2>
        <span>Published: {{ page.date }}</span>
        {{ content }}
<footer>
    <a rel="nofollow" href="{{ post.url }}" title="Permalink">&infin;</a>
    <time datetime="{{ page.date | xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
  </footer>
      </div>
<footer>
  {% if page.previous %}
    <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
  {% endif %}
  {% include search.html %}
  {% if page.next %}
    <a href="{{ page.next.url }}" title="{{ page.next.title }}">Newer &rarr;</a>
  {% endif %}

<div id="disqus">
    <div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/git-ready/embed.js">
</script><noscript><a href="http://git-ready.disqus.com/?url=ref">View the discussion thread.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>

</footer>


