---
layout: default
---
<div id="older_and_newer">

        <div class="newer">
        {% if page.previous.url %}
                <a href="{{page.previous.url}}" title="Previous Post:
{{page.previous.title}}">&laquo; newr</a>
        {% endif %}
        </div>

        <div class="older">
        {% if page.next.url %}
                <a href="{{page.next.url}}" title="next Post:
{{page.next.title}}">oldr &raquo; </a>
        {% endif %}
        </div>


</div>
<div class="post">
  <div class="meta">
    {{ page.date | date: "%A, %d %B  %Y"}}
  </div>
  <h1>{{ page.title }}</h1>
  {{content}}

  <div id="disqus_thread">
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'blay'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

  </div>
</div>
